
m_data_20120629.txt

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

target/test-classes/de/dailab/plistacontest/AppTest.class

target/classes/de/dailab/plistacontest/recommender/ContestRecommender.class

.settings/org.eclipse.m2e.core.prefs

.settings/org.maven.ide.eclipse.prefs

contest.log

m_data_20120627.txt

m_data_20120628.txt

m_data_20120630.txt

plistacontest.log

src/test/java/de/dailab/plistacontest/AppTest.java

target/classes/de/dailab/plistacontest/client/Client.class

target/classes/de/dailab/plistacontest/client/ClientConstants.class

target/classes/de/dailab/plistacontest/client/ContestHandler.class

target/classes/de/dailab/plistacontest/helper/DataEnumeration.class

target/classes/de/dailab/plistacontest/helper/DataModelHelper.class

target/classes/de/dailab/plistacontest/helper/DateHelper.class

target/classes/de/dailab/plistacontest/helper/FalseItems.class

target/classes/de/dailab/plistacontest/helper/MahoutWriter.class

target/classes/de/dailab/plistacontest/recommender/ContestItem.class

target/classes/de/dailab/plistacontest/recommender/ContestMPRecommender.class

target/classes/de/dailab/plistacontest/.DS_Store

target/classes/de/dailab/plistacontest/recommender/MPRescorer.class

target/classes/de/dailab/plistacontest/recommender/MostPopularItemsRecommender$ByValue.class

target/classes/de/dailab/plistacontest/recommender/MostPopularItemsRecommender.class

target/classes/de/dailab/plistacontest/recommender/RecommendedItems.class

team1.properties

target/classes/de/dailab/.DS_Store

target/classes/de/.DS_Store

target/.DS_Store

target/classes/.DS_Store

src/main/java/de/dailab/plistacontest/.DS_Store

src/main/java/de/dailab/.DS_Store

src/main/java/de/.DS_Store

src/main/java/.DS_Store

src/.DS_Store

src/main/.DS_Store

plistacontest.log.2012-06-30

m_data_20120701.txt

.DS_Store

recommendedItems.ser

target/classes/de/dailab/plistacontest/recommender/ContestMPRecommender$1.class

m_data_20120705.txt

m_data_20120706.txt

m_data_20120707.txt

m_data_20120708.txt

m_data_20120709.txt

target/classes/de/dailab/plistacontest/client/ContestHandler$1.class

plistacontest.log.2012-07-09

*.class

.classpath

.project

target/maven-archiver/pom.properties

target/plistacontest-0.0.1.jar

target/surefire-reports/TEST-de.dailab.plistacontest.AppTest.xml

target/surefire-reports/de.dailab.plistacontest.AppTest.txt

*.txt

*.ser

plistacontest.log.2013-02-15

plistacontest.log.2013-02-19

*.2013-02-20

plistacontest.log.2013-03-20

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

plistacontest.iml

.idea/libraries/Maven__com_google_guava_guava_r09.xml

.idea/libraries/Maven__commons_beanutils_commons_beanutils_core_1_8_0.xml

.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml

.idea/libraries/Maven__commons_io_commons_io_1_3_2.xml

.idea/libraries/Maven__jfree_jcommon_1_0_12.xml

.idea/libraries/Maven__commons_digester_commons_digester_1_8.xml

.idea/libraries/Maven__commons_logging_commons_logging_1_0_3.xml

.idea/libraries/Maven__org_apache_hadoop_hadoop_core_0_20_204_0.xml

.idea/libraries/Maven__org_apache_mahout_commons_commons_cli_2_0_mahout.xml

.idea/libraries/Maven__junit_junit_3_8_1.xml

.idea/libraries/Maven__commons_httpclient_commons_httpclient_3_0_1.xml

.idea/libraries/Maven__commons_configuration_commons_configuration_1_6.xml

.idea/libraries/Maven__org_apache_commons_commons_math_2_2.xml

.idea/libraries/Maven__org_apache_mahout_mahout_core_0_7.xml

.idea/libraries/Maven__org_apache_lucene_lucene_core_3_6_0.xml

.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_8_2.xml

.idea/libraries/Maven__org_eclipse_jetty_jetty_server_7_6_4_v20120524.xml

.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_1.xml

.idea/libraries/Maven__org_eclipse_jetty_jetty_continuation_7_6_4_v20120524.xml

.idea/libraries/Maven__org_eclipse_jetty_jetty_util_7_6_4_v20120524.xml

.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_3_6_0.xml

.idea/libraries/Maven__commons_cli_commons_cli_1_2.xml

.idea/libraries/Maven__org_apache_mahout_mahout_math_0_7.xml

.idea/libraries/Maven__org_eclipse_jetty_orbit_javax_servlet_2_5_0_v201103041518.xml

.idea/libraries/Maven__com_thoughtworks_xstream_xstream_1_3_1.xml

.idea/libraries/Maven__log4j_log4j_1_2_17.xml

.idea/libraries/Maven__org_eclipse_jetty_jetty_io_7_6_4_v20120524.xml

.idea/libraries/Maven__xpp3_xpp3_min_1_1_4c.xml

.idea/libraries/Maven__org_uncommons_maths_uncommons_maths_1_2_2.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/uiDesigner.xml

.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml

.idea/misc.xml

.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_8_2.xml

.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_6_6.xml

.idea/libraries/Maven__commons_codec_commons_codec_1_4.xml

.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_7_0.xml

.idea/vcs.xml

.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1.xml

.idea/libraries/Maven__org_eclipse_jetty_jetty_http_7_6_4_v20120524.xml

.idea/workspace.xml
